<html>
    <head>
        <link rel="stylesheet" href="/res/css/bootstrap.css">
        <script type="text/javascript" src="/res/js/vue.min.js"></script>
        <script type="text/javascript" src="/res/js/roslib.js"></script>
        <script type="text/javascript" src="res/js/nipplejs.js"></script>
    </head>

    <body>
        <div id='app' class="container">
            <div class="jumbotron">
                <h1>Robotont</h1>
            </div>

            <div class="row" style="max-height: 200px;">
                <div class="col-md-6">
                    <h3>Connection status</h3>

                    <p class="text-success" v-if="connected">Connected!</p>
                    <p class="text-danger" v-if="!connected">Not connected!</p>

                    <label>Websockect server address</label>
                    <input type="text" v-model="ws_address" />
                    <br />

                    <button @click="disconnect" class="btn btn-danger" v-if="connected">Disconnect</button>
                    <button @click="connect" class="btn btn-success" v-else>Connect</button>
                </div>

                <div class="col-md-6">
                    <h3>Log messages: </h3>
                    <div style="max-height: 200px; overflow: auto;">
                        <p v-for="log in logs">
                            {{ log }}
                        </p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12 text-center">
                    <h5>Commands</h5>
                </div>

                <div class="col-md-12 text-center">
                    <button @click="forward" :disabled="loading || !connected" class="btn btn-primary">Go forward</button>
                    <br><br>
                </div>

                <div class="col-md-4 text-center">
                    <button @click="turnLeft" :disabled="loading || !connected" class="btn btn-primary">Left</button>
                </div>

                <div class="col-md-4 text-center">
                    <button @click="stop" :disabled="loading || !connected" class="btn btn-danger">Stop</button>
                    <br><br>
                </div>

                <div class="col-md-4 text-center">
                    <button @click="turnRight" :disabled="loading || !connected" class="btn btn-primary">Right</button>         
                </div>

                <div class="col-md-12 text-center">
                    <button @click="backward" :disabled="loading || !connected" class="btn btn-primary">Go backward</button>
                    <br><br>
                </div>
            </div>
            

            <div class="col-md-12 text-center">
                <h5>Joystick</h5>
            </div>
            <br><br><br><br>

            <div id="joystick_zone" style="position: relative;"></div>
            <br><br><br><br>

            <hr>

            <div class="row">
                <div class="col-md-6">
                    <h3>Topics: </h3>
                    <div style="max-height: 400px; overflow: auto;">
                        <p v-for="t in topics[0]">
                            {{ t }}
                        </p>
                    </div>
                    <button @click="getTopics" :disabled="loading || !connected" class="btn btn-info">Show topics</button>
                </div>
                
                <div class="col-md-4">
                    <h3>Nodes: </h3>
                    <div style="max-height: 400px; overflow: auto;">
                        <p v-for="n in nodes[0]">
                            {{ n }}
                        </p>
                    </div>
                    <button @click="getNodes" :disabled="loading || !connected" class="btn btn-info">Show nodes</button>
                </div>
            </div>
            
    
            <br><br><br><br>



        </div>

        <script type="text/javascript" src="res/js/main.js"></script>
    </body>
</html>